<%- include('partials/header') %>
<style>
  .card {
  display: inline-block;
}

</style>

<nav class="navbar-fixed-top">
<nav class="navbar navbar-light bg-light ">
  <span class="navbar-brand mb-0 h1">Registered Users</span>
  <a class="navbar-brand" href="/logout">Logout</a>
</nav>
</nav>

<br>
<% users.forEach(user => { %>
<div class="card" style="width: 18rem;">
  <div class="card-body">
<h5 class="card-title"><%=user.fname%> <%=user.lname%> </h5>
    <p class="card-text">Hobbies: <br> <%=user.hobbies.join(', ')%> </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Email: <br> <%=user.username%></li>
    <li class="list-group-item">Gender: <%=user.gender%></li>
    <li class="list-group-item">From: <%=user.city%>(<%=user.state%>)</li>
  </ul>
  <div class="card-body">
  <a href="/remove/<%=user._id%>" class="card-link">Remove</a>
  </div>
  </div>
  <% }) %>

<%- include('partials/footer') %>
